.ScrollBoxContent {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    width: 100%;
}

.RefreshButton {
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #234221;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.RefreshButton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}